.about-text{
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    /* border-bottom: #ccae62 2px solid; */
}

.about-text img{
    border-radius: 20% 0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccae62;
}

/* .about-text img:hover{
    transform: scale(1.1);
    transition: 0.5s;
} */

.title-2{
    font-size: 6.5rem;
    font-family: 'Mrs Saint Delafield', serif;
    font-weight: 400;
    font-style: normal;
    color: #ccae62;
}

.text{
    padding: 50px;
    word-spacing: 5px;
    line-height: 2;
    font-weight: 400;
}

.pra2{
    font-family: 'Knewave', serif;
    font-size: 20px;
}

.zevis-text{
    color: #ccae62;
    font-family: 'Knewave', serif;
    font-weight: 400;
    font-style: normal;
}