body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h1, h2 {
    text-align: center;
    color: #CCAE62;
    margin-bottom: 20px;
}

.about-me, .brand-story, .mission-values, .team, .customer-testimonials {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 300px; /* Ensure minimum height to prevent jumping */
}

.about-me:hover, .brand-story:hover, .mission-values:hover, .team:hover, .customer-testimonials:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-me p, .brand-story p, .mission-values p, .team p, .customer-testimonials p {
    text-align: justify;
}

.about-me img, .brand-story img, .mission-values img, .team img, .customer-testimonials img {
    width: 150px;
    height: auto; /* Ensure images maintain aspect ratio */
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
}

.footer-content p {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

body {
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}